PORT=5000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=metrico
DB_USER=postgres
DB_PASS=
FRONTEND_URL=http://localhost:5173
# FRONTEND_URL=https://metrico.onrender.com
JWT_SECRET=
JWT_REFRESH_SECRET=
NODE_ENV=development
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=support@controlpointe.ai
SMTP_PASS=egbb ruqf ovfq essh